body {
  padding: 0 10px 0 10px;
}

.hero-write {

  img {
    width: 80px;
  }
}

.display-4 {
  color: white;
}

.cursor-blink {
    font-weight: 100;
    font-size: 45px;
    color: white;
    -webkit-animation: 1s blink step-end infinite;
    -moz-animation: 1s blink step-end infinite;
    -ms-animation: 1s blink step-end infinite;
    -o-animation: 1s blink step-end infinite;
    animation: 1s blink step-end infinite;
  }

  @keyframes blink {
    from, to {
      color: transparent;
    }
    50% {
      color: white;
    }
  }

  @-moz-keyframes blink {
    from, to {
      color: transparent;
    }
    50% {
      color: white;
    }
  }

  @-webkit-keyframes blink {
    from, to {
      color: transparent;
    }
    50% {
      color: white;
    }
  }

  @-ms-keyframes blink {
    from, to {
      color: transparent;
    }
    50% {
      color: white;
    }
  }

  @-o-keyframes blink {
    from, to {
      color: transparent;
    }
    50% {
      color: white;
    }
  }


#left-panel-style {
  background-color: #FCF7F9;
  padding: 10px;
  border-right: 1px solid #94A4AF;

  a {
    border-radius: unset;
  }

  a:hover {
    background-color: #1476AE;
  }

  a:active {
    background-color: #e3342f;
  }
}

#middle-panel-style {
  background-color: #ffffff;
}

#right-panel-style {
  background-color: #FCF7F9;
}

.list-group-item {
  height: auto;

  img {
    width: 65px;
    height: 65px;
    border-radius: 65px;
    margin-left: 55px;
  }
}

.card-text {
  font-size: 14px;
}

.card {
  .list {
    padding: 5px;
    background-color: #545F5D;
    color: white;
    text-align: center;
  }
  .btn:hover{
    color: white !important;
  }
}
.hero-image{
  background-color:#275C8D;
  padding: 20px;

  .display-4{
    color: white;
  }
  .lead{
    color: white;
  }
}
.navbar{
  padding:0;
}

.nav-profile-pic {
  width: 45px;
  height: 45px;
  background-color: #275C8D;
  border-radius: 45px;
}
.page-footer{
  background-color: #298877;
  margin-top: 25px;

  .footer-copyright{
    background-color: #1E5C51;
  }
}