body{
  padding: 0 10px 0 10px;
}
.hero-write {

  img {
    width: 80px;
  }
}

.display-4{
  color: black;
}

#left-panel-style {
   background-color: #FCF7F9;
   padding: 10px;
   border-right: 1px solid #94A4AF;

  a {
    border-radius: unset;
  }
  a:hover{
    background-color: #1476AE;
  }
  a:active
  {
    background-color: #e3342f;
  }
 }

#middle-panel-style {
  background-color: #ffffff;
}

#right-panel-style {
  background-color:#FCF7F9;
}
.list-group-item{
  height: auto;
  img {
    width: 65px;
    height: 65px;
    border-radius: 65px;
    margin-left: 55px;
  }
}
.card {
  .list{
    padding: 5px;
    background-color:#B70456;
    color: white;
  }
}