@import url(https://fonts.googleapis.com/css?family=Nunito);body {
  padding: 0 10px 0 10px;
}

.hero-write img {
  width: 80px;
}

.display-4 {
  color: black;
}

#left-panel-style {
  background-color: #FCF7F9;
  padding: 10px;
  border-right: 1px solid #94A4AF;
}

#left-panel-style a {
  border-radius: unset;
}

#left-panel-style a:hover {
  background-color: #1476AE;
}

#left-panel-style a:active {
  background-color: #e3342f;
}

#middle-panel-style {
  background-color: #ffffff;
}

#right-panel-style {
  background-color: #FCF7F9;
}

.list-group-item {
  height: auto;
}

.list-group-item img {
  width: 65px;
  height: 65px;
  border-radius: 65px;
  margin-left: 55px;
}

.card-text {
  font-size: 14px;
}

.card .list {
  padding: 5px;
  background-color: #B70456;
  color: white;
}

.hero-image {
  background-color: #275C8D;
  padding: 20px;
}

.hero-image .display-4 {
  color: white;
}

.hero-image .lead {
  color: white;
}

.nav-profile-pic {
  width: 50px;
  height: 50px;
  background-color: #275C8D;
  border-radius: 50px;
}

